<ngb-accordion [closeOthers]="true">
    <ngb-panel id="static-1" title="Falutörténet">
        <ng-template ngbPanelContent>
            Héhalom dél-nógrádi kistelepülés, lassan fogyatkozó lakosságában máig él hagyományosan a falu "ősi"
            múltja.
            A helyben lakók büszkék lakóhelyük történelmi gyökereire, melyek indokolják egyben mai helyben
            maradásukat
            is.
            Számos régészeti leletből következtethetünk arra, hogy Héhalom község területe a honfoglalás előtt
            sem
            volt
            lakatlan. A falu határában és a Templom-dombon begyűjtött leletek a Kr. e. II évezredből származnak,
            és
            egy,
            a hatvani kultúrához tartozó bronzkori népesség jelenlétéről tanúskodnak.
            <br>
            A XIII-XIV. századi okleveleken Hywhalom néven szerepel a település. Egy 1439-es oklevél szerint
            ekkoriban a
            bujáki vár tartozéka, Báthory István birtokaként. Később vámhelyként működött. Az 1500-as évek
            közepétől
            a
            török hódoltság területéhez tartozik, sokáig Arpalék Hasszán aga kezén. Az 1600-as évek végére
            elnéptelenedik, az ezután megjelenő népességről nem tudjuk, hogy a visszaköltözött "őslakosok"-e,
            vagy
            más
            vidékről idevándorolt emberek. Az adózási listákon szereplő nevekből arra következtetünk, hogy a
            falu
            lakossága teljesen átcserélődik. Több "tulajdonosváltás" után 1770-től 1848-ig az Esterházy család
            tagjai
            közül kerülnek ki a település földesurai. 1832-ben Esterházy Miklós támogatásával építik fel a falu
            új
            templomát. A falu lakossága máig jórészt római katolikus vallású. A századforduló környékén a
            Schossberger
            család birtokait képezték a falu határában fekvő földek.
            <br>
            1949-ben a Magyar Népköztársaság Minisztertanácsa az államigazgatási térkép átrajzolása kapcsán, az
            eddig a
            szécsényi járáshoz tartozó települést Pásztó járáshoz csatolja. 1950-től 1970-ig a község önálló
            tanáccsal
            rendelkezik. 1971. január 1.-től pedig a környező településekkel, Palotással, Kisbágyonnal és
            Szarvasgedével
            együtt közös tanácsot alakít, melynek székhelye Palotáson van. 1981. január 1.-től Palotás és
            Héhalom
            Palotáshalom néven egyesül. 1990-től önálló tanácsot alakítanak ki ismét Héhalomban és újra régi
            nevét
            használja a település. A rendszerváltást követően, mint önálló település működik a község
            Önkormányzata.
        </ng-template>
    </ngb-panel>
    <ngb-panel id="static-2" title="Látnivalók">
        <ng-template ngbPanelContent>
            A község épített környezete rendezett az átlagos magyar falu jelenkori építészeti minőségét mutatja.
            Az
            épületek jelentős hányada lakó épület, családi ház. Az Öregfalu rész és Újtelep falurész karaktere
            keletkezésükből adódóan különbözik. Az Öregfalu részen az utcára merőlege szalagtelkekre
            oldalhatáron
            álló
            beépítéssel kerültek elhelyezésre az épületek. Az utca szerkezet a domborzatot követő organikus
            fejlődésű, a
            középkori falu szerkezet egyes elemeit őrző település szerkezet.
            <br>
            A település közigazgatási területén egy országos védettség alatt álló építmény található:

            <p>Háromnyílású műemlék kőhíd</p>
            Elhelyezkedése: 2109. sz. közúton (Budapest irányában) külterületen 076/2 Hrsz.
            Tulajdonosa: Magyar Állam
            Kezelője: Közúti Igazgatóság
            <br>
            A Bér-patak felett álló három nyílású híd (1833.) boltozatai 7,4; 9,20; 7,40 m méretűek, kevéssel
            térnek
            el
            a 4; 5; 4 öl mérettől. A pontos öl méretek 7,59; 9,48 m lennének. Lehetséges, hogy építés közben
            "vastagabbra vették" a pilléreket és innen származik az eltérés. A híd teljes hossza a hídfallal
            szöget
            bezáró szárnyfalakkal együtt 39,4 m, pályaszélessége 6,60 m. Mindkét oldalán faragott kőtömbökkel
            lezárt
            mellvéd helyezkedik el a szárnyfalak csatlakozásánál félköríves kerékvezetőkkel. A homlokzatot ez a
            mellvéd
            teszi teljessé, a patak tengelyvonalában van a legmagasabb pontja, innen az útpálya és a mellvédek
            is
            enyhe
            lejtéssel a híd nyílások méretkülönbségeit hozzák összhangba. A fedkövek igen nagy méretűek,
            szélességük
            63,
            magasságuk 35 cm (2 és 2 láb). Később, még a XIX század folyamán mindkét oldalon a mederpillérekhez
            1,20
            méterre kiugró jégtörőket építettek. Ma már az északnyugati jégtörő hiányzik. A falazati kőanyag, a
            mészkő
            szürkeségét kellemesen váltják fel a pillér végek piros színű homokkő anyagú részei. A középső
            boltozat
            alatt a patak mederben 4 faoszlop csonkja látszik, ez valószínűleg az építési vagy javítási állvány
            maradványa, de nem kizárt, hogy még a régi fahíd tartóoszlopai. A hidat 1930-ban helyreállították,
            majd
            1975-ben az északi oldalán épített új hídra helyezték át a forgalmat, ekkor semmisült meg a 4.
            jégtörő.

            <p>Öregtemplom-dombja</p>
            Elhelyezkedése: a temető déli oldalán külterületen 066 Hrsz. külterületen 076/2 Hrsz.
            Tulajdonosa: Héhalom Község Önkormányzata
            <br>
            A Templomdomb több korszak régészeti emlékét őrzi. A Kr. e. II. évezredben e vidéken bronzkori
            népesség
            lakik, melyet első feltárt lelőhelyük után hatvani kultúrának nevezünk. Ismert telepeik erődítettek:
            ahol
            lehetett, magaslatok tetejére telepítették falvaikat, máshol mocsaras völgyek halmain laktak
            árkokkal,
            palánkkal kerített településeken. Utóbbi típusú telepeiket a régészek egy arab kifejezés után
            tellnek
            nevezik. A tell úgy keletkezik, hogy a település lakói az erődített területen elterítik a keletkező
            hulladékot, elplanírozzák az elpusztult házakat, s föléjük építik az új települést. Így a lakott
            terület
            szintje folyamatosan emelkedik, domb lesz belőle. Maga a halom rejti egymás fölötti rétegekben az
            egykor
            volt falu újra és újra felépített házait, míg az erődítések - az árkok és palánkok nyomai -
            gyűrűkként
            veszik körül a dombot. Árpádházi királyaink idején a középkori Héhalom lakói ide építették
            templomukat,
            s
            sírkertnek használták a dombot. Az első templom a XII - XIII. század fordulóján épült román
            stílusban,
            szépen faragott mészkőből. Később a gyarapodó közösség megnagyobbította a templomot. A falak egy
            részét
            meghagyták, míg oldalirányban és a szentély irányában új falakat húztak. E kora-gótikus épület
            síkfödémes
            volt, de később egy újabb építkezés alkalmával gótikus boltozatot kapott. Valószínűleg ekkor kap
            kerítőfalat
            a temető is. Egy következő építkezés eredménye egy hatalmas szentély. E szentély építésének ideje
            még
            kérdéses, lehet, hogy XV-XVI. századi késő gótikus, de lehet hogy a török uralom utáni barokk munka.
            A
            templom életének utolsó idejében sekrestye és más melléképület is tartozott hozzá. Az épület a
            sorozatos
            átépítéseknek és a törökkor viszontagságainak köszönhetően a XIX. század elejére statikailag
            meggyengült,
            elromosodott. A templomot ekkoriban bontják le, helyenként alapjait is kiszedve, és építik újjá
            mostani
            helyén.

            <p>Római Katolikus Templom</p>
            Elhelyezkedése: Hősök tere 1 sz. 451 Hrsz.
            Tulajdonosa: Héhalmi Római Katolikus Egyházközség
            <br>
            A mai templom 1832-ben, Eszterházy Miklós segítségével épült késő barokk klasszicizáló stílusban. A
            zsindely
            tetővel fedett épületet a helyi hanyomány szerint már 1807-ben el kezdik építeni azonban a szűkös
            anyagi
            lehetőségek miatt végül is csak 1817-ben lett felszentelve! ( a felszentelés nem azt jelenti, hogy a
            templom
            teljesen el készült, valószinű, hogy már használható állapotba került és a teljes befejezés dátuma
            1832.).
            1908-ban toronyórát kap, mely a palotási templom órájának ikertestvére, 1910-ben palával fedik és a
            torony
            új gerendázattal és bádogtetővel újul meg. 1944-ben új secco festményekkel díszítik, festője Tallós
            Móricz
            budapesti egyházművész. 1960-ban kezdődtek a templom mai megjelenését is meghatározó állagmegóvási
            és
            bővítési munkálatok. A torony alatti épületrészek életveszélyes állaguk miatt teljes elbontásra
            kerületek. A
            templom hajót 6.0 méterrel meghosszabbították, új karzat (kórus) és torony épült. A belső boltozatok
            által
            szétnyomott falakat vonó rudak és támpillérek beépítésével sabilizálták. A bővítés tervezője Árkai,
            kivitelezés irányítója Szentgyörgyi Gyula mérnök és építőmester volt. A megújult templomfestés
            Takács
            István
            festőművész munkája.

            Az átalakítás előtti állapotáról -az egyik leghitelesebb forrás- Genthon István 1954-ben kiadott
            Nógrád-megye Műemlékei című munkája a következőket írja: "Jellege: klasszicista. Külneme: A gyengén
            előre
            ugró középrész hármas tagozású. A két oldalszárny dísztelen. A kapuzati rész kiugró szemöldökkel,
            felette
            keretelés nélküli ablakkal és jobbról-balról magas pillérszéken toszkán lábazatos, fedőlemezzel
            záruló
            két-két pillérből áll, melyek a körül futó párkányt tarkítják. Itt a nyugati homlokzaton (a berárati
            homlokzat) a falsík vízszintes tagolás nélkül érintkezik az orom mezővel. A középrész is felnyúllik
            a
            párkány fölé. A toronytest közepén félköríves záródású keresztelt ablak. A toronyt erős kiülésű,
            gazdag
            tagozatú párkány zárja és törtvonalú, bádogfedeles sisak fedi. A főpárkányon egy-egy kis urna.

            A déli oldalon néhány lépcső vezet a kórus és a torony facsigalépcsőjéhez. A sekrestye -ugyanitt- a
            szentély
            beugrásához simul. A hajót két, a szentélyt egy mélyenülő, felül keretelt, sima övpárkányon ülő
            lunetta
            ablak világítja meg. Az északi oldal tagolása azonos, de oldal bejárat nélkül. Az egyenes záródású
            apszison
            vak lunetteaablak...

            Belseje: Az ajtón közvetlenül a kórus alatti térbe lépünk. A középen szögletesen kihasasodó
            mellvédet
            két
            erőteljes oszlop tartja. A hajót kettős fejezet nélküli félpillér tagolja, felette római-dór teljes
            párkány.
            Ugyanez a rendszer ismétlődik a kórusmellvéd és a hajófal találkozásánál álló negyed pilléreken,
            valamint a
            diadalív pilléreihez széles ívvel csatlakozó negyedpilléreken is.

            A szentély a hajónál keskenyebb, négyzetes tér, amelyből egy hevedernyi szélességű, egyenes záródású
            apszis
            nyílik. Csehsüveg boltozatok."

            <p>Falumúzeum</p>
            Elhelyezkedése: Kossuth L. u. 59. 355 Hrsz.
            Tulajdonosa: Héhalom Község Önkormányzata

            Népi lakóház csonka-kontyos tetővel A kis méretű parasztház négy helyiségből áll. A három-osztatú
            (elsőszoba, konyha-pitvar, hátsó szoba) alapegységhez egy hátsó kamra is csatlakozik, az épület fa
            tornácos.
            Szerkezetére a hagyományos anyagok és megoldások jellemzőek: vályog falak, látszó fagerendás födém,
            fogófás
            fedélszék poltári cserépfedéssel. Eredeti belső berendezése nem maradt meg.
            Építés, keletkezés ideje: 1900 után.

            <p>A fenti szempontok figyelembe vételével természeti értéke alapján helyi védelemre javasoljuk az
                alábbiakat:</p>

            Az Úszóvölgy Egyházasdengeleg felé eső végében található természetközeli állapotot mutató rét
            területét
            (099/34, /4 Hrsz.)<br class="list">
            Az Aszód felé vezető közút mellett a Kőhíd után található jegenye-nyárt (Sederiék fája) mint a
            településre
            vezető út meghatározó jelét.<br class="list">
            Az un. Szőlők tájképi megjelenését és ingatlan szerkezetét, művelési sajátosságait.<br class="list">
            A Kossuth utca 61-53. sz. házai<br class="list">
            A hagyományos településszerkezeti adottságokat magánőrző pár telekből álló együttes reprezentálja az
            egykori, mára már népi építészetnek nevezett, de a sajátkorában abszúlt természetes falu karaktert.
            A
            szalagtelkeken felépült hosszúházak előtt az út bővületében akácfák állnak, sajátos
            rendezetlenséggel
            füves
            területen. Bár az épületek nagyobbik hányadának homlokzatát át építették, "korszerűsítették", a
            helyreállított Falumúzeum épülete kellő alaphangot ad a házsornak. A telekek mindegyike oldalhatáron
            álló
            beépítésű, a nyeregtetős, tornácos házak arányrendszerükben, helyiség csoportjaikkal (hármas osztatú
            parasztház) nemcsak építészeti formák megidézői, hanem a falusi társadalom lassan halványuló emlékei
            is.<br class="list">

            A Kossuth utca 25.,23.,28. sz. házak<br class="list">
            A népi lakóházak a település épületállományának fluktuációs folyamatát elkerülve mai napig,
            többé-kevésbé
            eredetihez közeli állapotukban megmaradtak. Hagyományos anyagokból, hagyományos technológiával
            készült
            épületek. Építészeti karakterük a vidék (Cserhát-alja) házformáit őrzi.<br class="list">

            Az Öreg falurész rópatéglás házainak homlokzatai, ill. a népi építészet hagyományait őrző lakóházak:
            Petőfi
            utca 14.,18., 28.,29.,31.,39.,48., 62.,65.,60 sz. házak.<br class="list">
            Az ún. rópatéglás házak a XX. század harmincas éveitől kezdve épültek, mikor is a gyarapodó helyi
            gazdák
            tehetőségüket reprezentálva a környező nagyobb településekről fogadott kőművesekkel jellegzetes
            sárgás
            színű
            burkoló téglával építették meg az utcai homlokzatot, a tornác oszlopait. Az épületek tulajdonképpen
            a
            hagyományos parasztházak tér és szerkezeti rendszerével épületek, csak a homlokzatuk lett
            impozánsabb. A
            tehetősebb egykori tulajdonosokra vall az utca vonalával párhuzamos néhány beépítés, de ez csak egy
            pár
            ház
            esetében tapasztalható.<br class="list">
            A jelenlegi tulajdonosok mozgásterének csekély szűkítése érdekében csak az utcai homlokzat védelmét
            szorgalmazzuk, de kellő együttműködés esetén esetemként a teljes lakó épület, ill. telek helyi
            védelme
            célszerű lenne.<br class="list">

            Az Aszód felé vezető közút mellett található kő kereszt az ún. Gazsik keresztje.<br class="list">
            Az andezit tufábál készült klasszicizáló barokk kőkereszt állíttatásának ideje nem ismert. A volutás
            mintázatú alépítmény, és maga a kőkereszt is erősen errodálódott állapotban van. A szomszédos
            Nagykökényesen
            található a temetőben ehhez hasonló kivitelű kereszt talapzat, ill. a templom kertben található
            kereszt
            és
            Szt. János szobor mutatnak rokonságot, mind anyagukban, mind díszítő motívumaikban.<br class="list">

            <p>Az utókor számára megőrzésre méltó természeti-tájképi elemek:</p>
            Az Úszóvölgy Egyházasdengeleg felé eső végében található természet-közeli állapotot mutató rét
            területe
            (099/34, /4 hrsz.)<br class="list">

            Az Aszód felé vezető közút mellett a Kőhíd után található jegenye-nyár (Sederiék fája) mint a
            településre
            vezető út meghatározó jele.<br class="list">

            Az un. „Szőlők" tájképi megjelenése és ingatlan-szerkezete, művelési sajátosságai.
        </ng-template>
    </ngb-panel>
    <ngb-panel id="static-3" title="Földrajzi elhelyezkedés">
        <ng-template ngbPanelContent>
            Héhalom a Cserhátalja kistáj közepén, Nógrád-megye déli részén található. A kistáj közepes ill.
            alacsony
            dombság, amely a cserhát hegylábfelszínének tekinthető.
            <br>
            A település legmagasabb pontja a falu fölött elhelyezkedő Templom-domb (180,5 m), mely
            tulajdonképpen
            mesterséges építmény, egy bronzkori tell. A község átlagos tengerszint feletti magassága 140 méter.
            A
            község
            domborzati értelemben legszabdaltabb része az Ebhát- és a Csapás-dűlőktől északnyugatra eső
            meredekebb
            partoldal, a Bujáki-patak balpartja.
            <br>
            Az északnyugat-délkelet irányú völgyekkel tagolt felszín vízfolyásokban közepesen ellátott. A
            területen
            folyik keresztül a Bujáki- és a Bér-patak, valamint a Tarcsai-patak.
            <br>
            A község Az alapkőzete felsőmiocén agyag.
            Éghajlata mérsékelten meleg - mérsékelten száraz, nagy hőmérsékleti ingadozások éves viszonylatban
            nincsenek, országos viszonylatban is itt a legtöbb a szélcsendes napok száma.
            <br>
            A napsütéses órák száma alacsony (1850-1900 óra/év),mely az őszi-téli ködképződés miatt van. A
            csapadék
            évi
            átlagmennyisége 560-600 mm, az uralkodó szélirány követi a településen is meghatározó völgyszakasz
            irányokat.
            <br>
            A település csaknem teljes hányada ma lankás dombvidéken létrejött kultúrtáj. Egykori őshonos
            növényzete
            a
            zonális cseres-tölgyes erdőtársulás, a völgytalpakon gyertyános-tölgyes, a patakokat kísérő
            ligeterdőkben
            fűzligetek, égerligetek jellemzik (ezeket az időket idézik meg a Kecskés-berek, Hollós-berek
            elnevezések). A
            XIX. században ezek a legmagasabb szintű növénytársulások lényegében eltűntek a település határából.
            <br>
            Az ember tájátalakító tevékenységének köszönthetően mára jelentős az akácosok, fekete és erdei
            fenyves,
            valamint az erdők helyén létrejött szántók területi kiterjedése: A szántók a község területének
            csaknem
            73%-át teszik ki, a rétek, gyepek összterületaránya 12%, az erdő terület aránya mindössze 9 %,
            kisterületen
            található zártkerti szőlő művelés.
            <br>
            A meglévő természetes vegetáció az emberi hatások miatt elszegényedett, elsősorban a patak medrek
            szegélyei
            reprezentálják a lehetséges természeti állapotokat. A megművelt un. kultúrtáj és a lakott település
            térbeli
            viszonya mára állandósultnak tekinthető.
        </ng-template>
    </ngb-panel>
</ngb-accordion>