<footer>
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-md-6">
				<app-fb-logo></app-fb-logo>
				<hr class="light">
				<p>(30) 123-45-67</p>
				<a href="mailto:info@bollerblhehalom.hu">info@bollerblhehalom.hu</a>
				<p>3041 Héhalom</p>
				<p>Petőfi u. 1</p>
			</div>
			<div class="col-md-6">
				<hr class="light">
				<h5>Támogatók</h5>
				<hr class="light">
			</div>
			<div class="col-12">
				<hr class="light-100">
				<h5>&copy; Urbán Gergely</h5>
			</div>
		</div>
	</div>
</footer>